.wp-block-image {
  &.alignleft {
    @media screen and (min-width: 1100px) {
      img {
        float: left;
        margin-right: 39px;
      }
    }
  }
  &.aligncenter {
    img {
      @include margin_lr();
    }
  }
  &.alignright {
    @media screen and (min-width: 1100px) {
      img {
        float: right;
        margin-left: 39px;
      }
    }
  }
  img {
    margin-top: 40px;
    margin-bottom: 30px;
    @include image();
    @include margin_lr();
    @include mq(small_tablet) {
      margin-top: 40px;
      margin-bottom: 60px;
    }
    @include mq(small_laptop) {
      margin-top: 50px;
    }
    @include mq(large_laptop) {
      margin-top: 70px;
      margin-bottom: 80px;
    }
  }
}
