.blog-title {
  max-width: 270px;
  @include margin_lr();
  @media screen and (min-width: 450px) {
    max-width: 100%;
  }
}

#blog-feed {
  padding-top: 10px;
}

.blog-post {
  border-bottom: 1px solid #c6ced8;
  padding-bottom: 40px;
  margin-bottom: 40px;
  @include mq(small_tablet) {
    display: grid;
    grid-template-columns: 337px auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
      "blog-post-video post-meta-wrapper"
      "post-content post-content";
    margin-bottom: 50px;
  }
  @include mq(small_monitor) {
    grid-template-areas:
      "blog-post-video post-meta-wrapper"
      "blog-post-video post-content";
    padding-bottom: 70px;
    margin-bottom: 70px;
  }
  &.no-video {
    display: block;
    .post-meta-wrapper {
      @include mq(small_tablet) {
        margin-left: 0px;
      }
      @include mq(small_monitor) {
        margin-left: 0px;
      }
    }
  }
  &:last-of-type {
    margin-bottom: 20px;
    border-bottom: 3px solid $bluethree;
    @include mq(small_monitor) {
      padding-bottom: 110px;
    }
  }
}

.blog-post-video {
  @include mq(small_tablet) {
    grid-area: blog-post-video;
  }
  @include mq(small_monitor) {
    margin-top: 35px;
  }
}

.post-meta-wrapper {
  margin-top: 22px;
  @include mq(small_tablet) {
    margin-left: 30px;
    margin-top: 0px;
    grid-area: post-meta-wrapper;
  }
  @include mq(small_monitor) {
    margin-left: 45px;
  }
}

.post-meta {
  @include type(
    (
      size: 16px,
      height: 20px,
      spacing: 0.4px,
      family: $secondaryfont,
      color: $bluefour,
      weight: 600,
    )
  );
  span {
    display: inline;
    &::after {
      margin: 0 9px 0 11px;
      @include contentdisplay(inline-block, "|");
    }
  }
  ul {
    list-style: none;
    display: inline;
    li {
      display: inline;
      a {
        color: $golddark;
        text-decoration: underline;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $bluefour;
        }
        &::after {
          @include contentdisplay(inline-block, ",");
        }
      }
      &:last-of-type {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

h2.post-header {
  margin-top: 12px;
  a {
    color: $blueone;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $golddark;
    }
  }
}

.post-content {
  margin-top: -4px;
  @include mq(small_tablet) {
    grid-area: post-content;
    margin-top: 25px;
  }
  @include mq(small_monitor) {
    margin-left: 45px;
    margin-top: 0px;
  }
  .learn-more {
    display: inline-block;
    margin-top: 25px;
    border-bottom: 2px solid $golddark;
    transition: all 200ms ease-in-out;
    @include type(
      (
        size: 18px,
        height: 21px,
        spacing: 0.45px,
        family: $secondaryfont,
        color: $golddark,
        weight: 600,
        transform: lowercase,
      )
    );
    &:hover {
      color: $bluefour;
      border-bottom: 2px solid $bluefour;
    }
  }
}

// single blog post

body.single {
  #page-container {
    &.two-col {
      @include mq(small_laptop) {
        width: 100%;
        padding-bottom: 46px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-template-areas:
          "sidebar-wrapper page-content"
          "single-post-bottom single-post-bottom";
      }
      @include mq(large_laptop) {
        padding-bottom: 70px;
      }
      @include mq(small_monitor) {
        padding-bottom: 100px;
        grid-template-areas:
          "sidebar-wrapper page-content"
          ". single-post-bottom";
      }
    }
  }
  #sidebar-wrapper {
    @include mq(small_laptop) {
      grid-area: sidebar-wrapper;
      width: 366px;
    }
  }
  #page-content {
    @include mq(small_laptop) {
      grid-area: page-content;
    }
  }
  .post-meta-wrapper {
    margin-left: 0;
  }
  .post-meta {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    @include mq(small_laptop) {
      text-align: left;
    }
  }
  #page-title {
    @include mq(small_monitor) {
      @include quick_type(55px, 65px, null);
    }
  }
  h2.post-header {
    margin-top: 15px;
    text-align: center;
    @include quick_type(18px, 25px, null);
    @include mq(small_tablet) {
      margin-top: 25px;
    }
  }
  .playbook-video {
    max-width: 750px;
    @include margin_lr();
    .playbook-video-overlay {
      .playbook-play-button {
        svg {
          @include box(70px, 70px);
          @include mq(small_tablet) {
            @include box(93px, 93px);
          }
        }
      }
    }
  }
}

#single-post {
  margin-top: -20px;
  @include mq(small_tablet) {
    margin-top: 7px;
  }
}

#single-post-content {
  padding-top: 45px;
  @include mq(small_laptop) {
    padding-top: 55px;
  }
  @media screen and (min-width: 1600px) {
    padding-top: 83px;
    max-width: 1810px;
    margin-left: auto;
    margin-right: auto;
    @include flex();
  }
}

#single-post-material {
  @media screen and (min-width: 1600px) {
    flex-basis: 295px;
    flex-shrink: 0;
    margin-right: 60px;
  }
}

#single-post-material-list {
  margin-top: -13px;
}

a.single-post-material {
  color: $blueone;
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid $greylight;
  @include flex();
  @include mq(small_tablet) {
    padding: 28px 0;
  }
  &:hover {
    color: $golddark;
  }
  img {
    display: block;
    margin-right: 15px;
  }
  span.single-post-material-title {
    @include quick_type(16px, 25px, null);
  }
}

#single-post-summary {
  margin-top: 45px;
  @include mq(small_laptop) {
    margin-top: 53px;
  }
  @media screen and (min-width: 1600px) {
    margin-top: 0px;
    flex-grow: 1;
  }
}

#single-post-bottom {
  padding-top: 20px;
  @include mq(small_tablet) {
    padding-top: 35px;
  }
  @include mq(small_laptop) {
    padding-top: 43px;
    width: 100%;
    grid-area: single-post-bottom;
    overflow: hidden;
  }
  @include mq(large_laptop) {
    max-width: 1075px;
    @include margin_lr();
  }
}

#single-post-featured-speakers-wrapper {
  margin-bottom: 50px;
  @include mq(small_tablet) {
    margin-bottom: 100px;
  }
  @include mq(small_laptop) {
    margin-bottom: 85px;
  }
  @include mq(large_laptop) {
    margin-bottom: 50px;
  }
  @include mq(small_monitor) {
    margin-bottom: 95px;
  }
}

#single-post-featured-speakers-inner {
  position: relative;
  max-width: 500px;
  @include margin_lr();
  @include mq(small_tablet) {
    padding-top: 13px;
    max-width: 100%;
    width: calc(100% - 90px);
  }
  @include mq(small_laptop) {
    width: 100%;
    padding-top: 17px;
    @include flex(null, flex-end);
    flex-direction: column;
  }
}

#single-post-featured-speakers {
  position: relative;
  z-index: 1;
  width: calc(100% - 60px);

  @include margin_lr();
  @include mq(small_tablet) {
    width: calc(100% - 80px);
  }
  @include mq(small_laptop) {
    width: 100%;
  }
  .slick-slide {
    margin: 0 10px;
    @include mq(small_laptop) {
      margin: 0 15px;
    }
  }
  .slick-track {
    @include mq(small_tablet) {
      @include margin_lr(0);
    }
  }
  .slick-list {
    margin: 0 -10px;
    @include mq(small_laptop) {
      margin: 0 -15px;
    }
  }
}

.single-post-featured-speakers-slide {
  position: relative;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  text-align: center;
  @include mq(small_tablet) {
    border-bottom: 0;
  }
  a {
    display: block;
    text-decoration: none;
    .single-post-featured-speakers-img {
      position: relative;
      overflow: hidden;
      &::after {
        opacity: 0;
        background: rgba(14, 19, 38, 0.85);
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        @include box(100%, 100%);
        @include contentdisplay(flex, "View Profile");
        @include abs(0, null, null, 0, 1);
        @include type(
          (
            size: 16px,
            family: $secondaryfont,
            color: #fff,
            weight: 600,
            transform: uppercase,
            spacing: 0.4px,
          )
        );
      }
      img {
        width: 100%;
        transform: scale(1);
        transition: transform 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
        @include image();
      }
    }
    span {
      display: block;
      @include mq(small_tablet) {
        text-align: left;
      }
      &.single-post-featured-speakers-name {
        margin-top: 15px;
        transition: all 200ms ease-in-out;
        @include type(
          (
            size: 18px,
            height: 23px,
            color: $bluefour,
            family: $primaryfont,
            weight: 800,
            transform: capitalize,
          )
        );
        @include mq(small_tablet) {
          margin-top: 18px;
        }
      }
      &.single-post-featured-speakers-position {
        margin-top: 5px;
        @include type(
          (
            size: 16px,
            height: 19px,
            family: $secondaryfont,
            color: $grey,
            weight: 600,
            transform: uppercase,
          )
        );
      }
    }
  }
  &:hover {
    a {
      span.single-post-featured-speakers-name {
        color: $goldlight;
      }
      .single-post-featured-speakers-img {
        img {
          transform: scale(1.1);
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

#single-post-featured-speakers-arrow-wrapper {
  margin: auto 0;
  @include box(100%, 100%);
  @include abs(0px, null, null, 0);
  @include flex(space-between, center);
  @include mq(small_laptop) {
    position: static;
    width: 130px;
    margin: 15px 0 0;
  }
  .single-post-featured-speakers-arrows {
    transition: all 200ms ease-in-out;
    margin-top: -100px;
    cursor: pointer;
    @include box(6px, 10px);
    @include tri(left, 6px, 7px, $bluethree);
    @include mq(small_laptop) {
      margin-top: 0px;
    }
    &:hover {
      @include tri(left, 6px, 7px, $golddark);
    }
  }
  #single-post-featured-speakers-arrow-right {
    transform: rotate(180deg);
  }
  span#single-post-featured-speakers-arrow-title {
    display: none;
    @include mq(small_laptop) {
      display: block;
      @include type(
        (
          size: 16px,
          height: 19px,
          family: $secondaryfont,
          color: $bluethree,
          weight: 600,
        )
      );
    }
  }
}

#paged_wrapper {
  padding-bottom: 27px;
  @include mq(small_tablet) {
    padding-bottom: 100px;
  }
  @include mq(small_laptop) {
    padding-bottom: 20px;
  }
  ul {
    list-style: none;
    position: relative;
    padding: 0 90px;
    @include flex(center);
    flex-wrap: wrap;
    li {
      margin: 0 6px;
      @include type(
        (
          size: 16px,
          height: 20px,
          family: $secondaryfont,
          weight: 600,
        )
      );
      &.myprev,
      &.mynext {
        position: absolute;
        top: 0;
        a {
          @include flex(null, center);
          &::before,
          &::after {
            margin-top: -2px;
            transition: all 200ms ease-in-out;
            @include contentdisplay();
          }
        }
      }
      &.myprev {
        left: -3px;
        a {
          &::before {
            margin-right: 5px;
            @include tri(left, 5px, 6px, $bluethree);
          }
          &:hover {
            &::before {
              @include tri(left, 5px, 6px, $golddark);
            }
          }
        }
      }
      &.mynext {
        right: -3px;
        a {
          &::after {
            margin-left: 5px;
            @include tri(right, 5px, 6px, $bluethree);
          }
          &:hover {
            &::after {
              @include tri(right, 5px, 6px, $golddark);
            }
          }
        }
      }
      &.active {
        a {
          color: $golddark;
        }
      }
      a {
        color: $bluethree;
        display: inline-block;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $golddark;
        }
      }
    }
  }
}
