#section-five {
  background: url(images/bg-pattern.jpg) top left repeat;
  padding: 58px 60px;
  @include mq(small_tablet) {
    padding: 108px 35px;
  }
  @include mq(small_laptop) {
    padding: 115px 35px;
  }
}

#sec-five-inner {
  text-align: center;
}

span#sec-five-title {
  display: block;
  @include type(
    (
      size: 50px,
      height: 50px,
      family: $secondaryfont,
      color: $goldlight,
      weight: 500,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(75px, 75px, null);
  }
}

#sec-five-fs-wrapper {
  @include flex(center);
  flex-wrap: wrap;
  margin-top: 25px;
  max-width: 340px;
  @include margin_lr();
  @include mq(small_tablet) {
    margin-top: 75px;
    max-width: 800px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @include mq(small_laptop) {
    max-width: 1030px;
  }
  @include mq(large_laptop) {
    max-width: 1220px;
  }
  @include mq(small_monitor) {
    max-width: 1700px;
  }
}

.sec-five-arrow {
  margin-top: 30px;
  border: 2px $goldlight solid;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  @include margin_lr(19px);

  @include flex(center, center);
  @include box(67px, 67px);
  @include mq(small_tablet) {
    margin-top: 130px;
    @include margin_lr(0);
  }
  &:hover {
    svg {
      path {
        fill: $goldlight;
      }
    }
  }
  svg {
    @include image();
    path {
      transition: all 200ms ease-in-out;
      fill: #fff;
    }
  }
}

#sec-five-arrow-left {
  order: 2;
  @include mq(small_tablet) {
    order: 1;
  }
  svg {
    margin-left: -3px;
  }
}

#sec-five-arrow-right {
  order: 3;
  svg {
    margin-left: 3px;
    transform: rotate(180deg);
  }
}

#sec-five-fs-slideshow {
  order: 1;
  width: 100%;
  @include mq(small_tablet) {
    order: 2;
    width: calc(100% - 190px);
  }
  @include mq(small_laptop) {
    width: calc(100% - 285px);
  }
  @include mq(large_laptop) {
    width: calc(100% - 225px);
  }
  .slick-slide {
    margin: 0 17px;
    @include mq(small_laptop) {
      margin: 0 10px;
    }
  }
  .slick-list {
    margin: 0 -17px;
    @include mq(small_laptop) {
      margin: 0 -10px;
    }
  }
}

.sec-five-fs-slide {
  position: relative;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;

  @include mq(small_tablet) {
    border-bottom: 0;
  }
  a {
    display: block;
    text-decoration: none;
    .sec-five-fs-img {
      position: relative;
      overflow: hidden;
      &::after {
        opacity: 0;
        background: rgba(14, 19, 38, 0.85);
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        @include box(100%, 100%);
        @include contentdisplay(flex, "View Bio");
        @include abs(0, null, null, 0, 1);
        @include type(
          (
            size: 15px,
            family: $primaryfont,
            color: #fff,
            weight: 800,
          )
        );
      }
      img {
        width: 100%;
        transform: scale(1);
        transition: transform 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
        @include image();
      }
    }
    span {
      display: block;
      color: #fff;
      @include mq(small_tablet) {
        text-align: left;
      }
      &.sec-five-fs-name {
        margin-top: 15px;
        transition: all 200ms ease-in-out;
        @include type(
          (
            size: 18px,
            height: 23px,
            family: $primaryfont,
            weight: 800,
            transform: capitalize,
          )
        );
        @include mq(small_tablet) {
          margin-top: 18px;
        }
      }
      &.sec-five-fs-position {
        margin-top: 5px;
        @include type(
          (
            size: 15px,
            height: 19px,
            family: $secondaryfont,
            color: $greylight,
            weight: 600,
            transform: uppercase,
          )
        );
      }
    }
  }
  &:hover {
    a {
      span.sec-five-fs-name {
        color: $goldlight;
      }
      .sec-five-fs-img {
        img {
          transform: scale(1.1);
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
