.playbook-video {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  .playbook-wistia {
    @include abs(0, null, null, 0, 2);
    @include box(100%, 100%);
  }
  .playbook-video-overlay {
    background: rgba(14, 19, 38, 0);
    cursor: pointer;
    transition: background 300ms ease-in-out;
    @include abs(0, null, null, 0, 1);
    @include box(100%, 100%);
    @include flex(center, center);
    .playbook-play-button {
      svg {
        circle#Ellipse_1_copy_2-2 {
          opacity: 0.2;
          transition: opacity 200ms ease-in-out;
        }
      }
    }
  }
  img.playbook-video-image {
    transform: scale(1);
    transition: all 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include image();
  }
  &:hover {
    .playbook-video-overlay {
      background: rgba(14, 19, 38, 0.85);
      .playbook-play-button {
        svg {
          circle#Ellipse_1_copy_2-2 {
            opacity: 0.5;
          }
        }
      }
    }
    img.playbook-video-image {
      transform: scale(1.1);
    }
  }
}
