// global

.memberpress-join {
  cursor: pointer;
}

.mepr-form input.invalid,
.mepr-form select.invalid,
.mepr-form textarea.invalid,
.mepr-form label.mepr-checkbox-field.invalid,
.mepr-form div.mepr-checkboxes-field.invalid,
.mepr-form div.mepr-radios-field.invalid {
  border: none !important;
}

.mepr-loading-gif {
  display: none !important;
}

.mp-spacer,
.mepr_spacer {
  display: none !important;
}

body.memberpressproduct-template-template-joinnow {
  header {
    background: url(images/bg-pattern.jpg) top left repeat !important;
    background-color: transparent !important;
  }
}

// sign up form

#member-signup-overlay {
  padding-top: 75px;
  padding-bottom: 45px;
  background: url(images/bg-pattern.jpg) top left repeat;
  background-color: $blueone;
  @include mq(small_tablet) {
    padding-top: 63px;
    padding-bottom: 75px;
  }
  @include mq(large_laptop) {
    padding-bottom: 75px;
  }
}

#member-signup-inner {
  @include mq(small_tablet) {
    max-width: 700px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    max-width: 1050px;
  }
  @include mq(large_laptop) {
    max-width: 1245px;
  }
}

.iti {
  width: 100%;
}

span#member-signup-title {
  display: block;
  @include type(
    (
      size: 45px,
      height: 50px,
      family: $secondaryfont,
      color: $goldlight,
      weight: 500,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(75px, 100px, null);
  }
}

span#member-signup-overlay-close {
  display: block;
  margin-right: 37px;
  margin-top: 30px;
  margin-bottom: 30px;
  @include type(
    (
      size: 16px,
      height: 18px,
      color: $goldlight,
      weight: 600,
      align: right,
      family: $primaryfont,
    )
  );
}

span.signup-header {
  display: block;
  flex-basis: 100%;
  margin-bottom: 20px;
  @include type(
    (
      size: 24px,
      height: 30px,
      family: $secondaryfont,
      color: $goldlight,
      weight: 500,
      align: center,
      spacing: 0.9px,
    )
  );
  @include mq(small_laptop) {
    margin-bottom: 30px;
  }
  &.signup-header-user-agreement {
    padding-top: 29px;
    @include mq(small_laptop) {
      padding-top: 39px;
    }
  }
  &.signup-header-sign-in-information {
    padding-top: 15px;
  }
}

#member-signup-inner {
  padding: 0 40px;
  margin-top: 31px;
  @include mq(large_laptop) {
    margin-top: 46px;
  }
  .mepr_price {
    display: none;
  }
  .mepr-signup-form {
    @include mq(small_tablet) {
      @include flex(space-between);
      flex-wrap: wrap;
    }
    .mp-form-row {
      position: relative;
      margin-bottom: 18px;
      @include mq(small_tablet) {
        flex-basis: calc(50% - 9px);
      }
      @include mq(small_laptop) {
        flex-basis: calc(25% - 9px);
      }
      // membership plugin form is difficult to work with...
      &.mepr_mepr_firm_address,
      &.mepr_mepr_cell_phone {
        flex-basis: 100%;
        @include mq(small_laptop) {
          flex-basis: calc(50% - 7px);
        }
      }
      &.mepr_mepr_cell_phone {
        input {
          padding: 22px 21px 22px 82px !important;
        }
      }
      &.mepr_mepr_name {
        @include mq(small_tablet) {
          //padding-top: 15px;
        }
        @include mq(large_laptop) {
          //padding-top: 25px;
        }
      }
      &.mepr_mepr_registering_attorney_submits_themselves {
        @include mq(small_tablet) {
          padding-bottom: 15px;
        }
        @include mq(large_laptop) {
          padding-bottom: 20px;
        }
      }
      &.mepr_mepr_name,
      &.mepr_mepr_i_will_not_record,
      &.mepr_mepr_i_will_not_disseminate_any_information,
      &.mepr_mepr_willful_violation,
      &.mepr_mepr_registering_attorney_submits_themselves {
        @include mq(small_tablet) {
          flex-basis: 100%;
        }
        &::after {
          display: none;
        }
      }
      .mp-form-label {
        display: none;
      }
      &::after {
        font-family: $primaryfont !important;
        @include abs(24px, 9px, null, null);
        @include contentdisplay(block, "*");
        @include type(
          (
            size: 16px,
            height: 18px,
            color: $goldlight,
            weight: 600,
          )
        );
      }
      .mepr-checkboxes-field-row {
        display: flex !important;
        //padding-top: 8px;

        .mepr-form-checkboxes-label {
          margin-left: 10px;
          font-family: $primaryfont !important;
          @include type(
            (
              size: 16px,
              height: 22px,
              color: #fff,
              weight: 600,
            )
          );
          @include mq(large_laptop) {
            font-size: 17px;
          }
          span.my-required {
            color: $goldlight;
            display: inline;
          }
        }
        input {
          flex-shrink: 0;
          border: none;
          border-radius: 3px;
          margin-top: 5px;
          @include box(18px, 18px);
        }
      }
      input {
        border: none;
        border-radius: 6px;
        padding: 22px 21px 22px 12px !important;
        font-family: $primaryfont !important;
        @include type(
          (
            size: 16px,
            height: 18px,
            color: $grey,
            weight: 600,
          )
        );
      }
    }
  }
}

label.mepr-form-radios-label,
label.mepr-form-checkboxes-label {
  width: 100% !important;
  max-width: 100% !important;
}

span#sign-up-required {
  display: block;
  margin-top: 15px;
  @include type(
    (
      size: 14px,
      height: 16px,
      family: $primaryfont,
      color: #fff,
      weight: 600,
      align: center,
    )
  );
  span {
    color: $goldlight;
  }
}

// login

body.page-login {
  .mp_wrapper {
    max-width: 450px;
    @include margin_lr();
    @include mq(small_tablet) {
      max-width: 580px;
    }
    @include mq(small_laptop) {
      max-width: 580px;
      @include margin_lr(0);
    }
    h3 {
      display: none;
    }
  }
  span.signup-header {
    display: none !important;
  }
}

.mp_login_form {
  .mepr-login-actions {
    text-align: center;
    font-size: 15px;
  }
}

// submit buttons

.submit,
.mp-form-submit,
.mepr-submit-wrapper {
  background: $goldgradient;
  max-width: max-content;
  min-width: 188px;
  border-radius: 60px;
  margin-top: 13px;
  position: relative;
  text-align: center;
  cursor: pointer;

  @include margin_lr();
  @include mq(small_tablet) {
    margin-top: 25px;
  }
  @include mq(small_laptop) {
    margin-top: 30px;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    border-radius: 60px;
    background: $golddark;
    opacity: 0;
    transition: all 200ms ease-in-out;
    @include box(100%, 100%);
    @include abs(0, null, null, 0);
    @include contentdisplay();
  }
  .mepr-form-has-errors {
    display: none !important;
  }
  input[type="submit"] {
    padding: 13px 25px;
    // width: 100%;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background: transparent;
    //text-align: center;
    @include type(
      (
        size: 22px,
        height: 25px,
        family: $secondaryfont,
        color: #fff,
        weight: 500,
        align: center,
      )
    );
  }
}

// account tabs

#mepr-account-welcome-message {
  text-align: center;
  @include mq(small_laptop) {
    text-align: left;
  }
}

form.mepr-account-form {
  @include mq(small_tablet) {
    max-width: 700px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    @include margin_lr(0);
  }
}

#mepr-account-nav {
  text-align: center;
  @include mq(small_laptop) {
    text-align: left;
  }
  span.mepr-nav-item {
    &:nth-of-type(-n + 3) {
      display: none;
    }
  }
  // span.mepr-active-nav-tab {
  //   a {
  //     color: $bluefour;
  //   }
  // }
}

body.page-account {
  span.signup-header {
    display: none !important;
  }
}

.mepr-account-change-password,
.mepr-newpassword-form {
  text-align: center;
  display: block;
  @include mq(small_tablet) {
    max-width: 700px;
    @include margin_lr();
  }
  @include mq(small_laptop) {
    @include margin_lr(0);
  }
}

// .mepr-newpassword-form {
//   text-align: center !important;
//   .mepr-new-password {
//     text-align: left !important;
//   }
// }
