body {
  color: $blueone;
}

#internal-main {
  min-height: 500px;
  margin-top: 78px;
}

.gform_body .gform_fields .gfield ::-webkit-input-placeholder {
  color: #000;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  color: #000;
}
.gform_body .gform_fields .gfield :-moz-placeholder {
  color: #000;
}
.gform_body .gform_fields .gfield :-ms-input-placeholder {
  color: #000;
}
.gform_body .gform_fields .gfield ::-moz-placeholder {
  opacity: 1;
}
