body {
  color: $blueone;
}

body.logged-in {
  #internal-main {
    min-height: 500px;
    margin-top: 159px;
    @include mq(small_tablet) {
      margin-top: 100px;
    }
    @include mq(small_laptop) {
      margin-top: 0;
    }
  }
}

#internal-main {
  min-height: 500px;
  margin-top: 78px;
  @include mq(small_tablet) {
    margin-top: 100px;
  }
  @include mq(small_laptop) {
    margin-top: 0;
  }
}

#page-container {
  padding: 7px 30px 47px;
  @include mq(small_tablet) {
    padding: 38px 60px 86px;
  }
  @include mq(small_laptop) {
    padding: 96px 75px 125px;
  }
  @include mq(large_laptop) {
    padding: 96px 140px 125px;
  }
  @include mq(small_monitor) {
    padding: 113px 140px 125px;
    max-width: 1810px;
    @include margin_lr();
  }
  &.two-col {
    @include mq(small_laptop) {
      @include flex();
    }
  }
}

#page-content {
  @include mq(small_laptop) {
    order: 2;
    flex-grow: 1;
  }
}

#page-content-inner {
  padding-top: 30px;
  @include mq(small_tablet) {
    padding-top: 33px;
  }
  @include mq(small_laptop) {
    padding-top: 47px;
  }
  @include mq(small_monitor) {
    padding-top: 60px;
  }
}

// .gform_body .gform_fields .gfield ::-webkit-input-placeholder {
//   color: #62676d;
// }
// .gform_body .gform_fields .gfield ::-moz-placeholder {
//   color: #62676d;
// }
// .gform_body .gform_fields .gfield :-moz-placeholder {
//   color: #62676d;
// }
// .gform_body .gform_fields .gfield :-ms-input-placeholder {
//   color: #62676d;
// }
// .gform_body .gform_fields .gfield ::-moz-placeholder {
//   opacity: 1;
// }

.gform_body {
  .gform_fields {
    .gfield {
      .ginput_container {
        input,
        textarea,
        select {
          ::-webkit-input-placeholder {
            color: #62676d;
          }
          ::-moz-placeholder {
            color: #62676d;
            opacity: 1;
          }
          :-moz-placeholder {
            color: #62676d;
          }
        }
      }
    }
  }
}
