#section-one {
  margin-top: 78px;
  background: $blueone;
  padding: 40px 15px 50px;
  @include mq(small_laptop) {
    margin-top: 0px;
    height: 732px;
    background: transparent;
    padding: 0px;
    @include flex();
  }
}

#sec-one-top {
  max-width: 280px;
  position: relative;
  @include margin_lr();
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 50%;
    order: 2;
    max-width: 100%;
    @include margin_lr(0);
  }
  @include mq(small_monitor) {
    flex-basis: auto;
    flex-grow: 1;
  }
  .playbook-video {
    @include mq(small_laptop) {
      @include box(100%, 732px);
    }
    .playbook-wistia {
      z-index: 2;
      @include mq(small_laptop) {
        @include box(100%, 732px);
      }
    }
    .playbook-video-overlay {
      z-index: 1;
      @include mq(small_laptop) {
        @include box(100%, 732px);
      }
      .playbook-play-button {
        svg {
          @include mq(small_laptop) {
            @include box(146px, 146px);
          }
        }
      }
    }
    img.playbook-video-image {
      @include mq(small_laptop) {
        object-fit: cover;
        object-position: right;
        @include box(100%, 732px);
        @include abs(0, 0, null, null);
      }
      @include mq(large_laptop) {
        object-position: -265px 0;
      }
      @include mq(small_monitor) {
        object-position: 0px 0;
      }
    }
  }
  span#learn-title {
    display: none;
    @include mq(small_laptop) {
      display: block;
      padding-right: 110px;
      padding-bottom: 20px;
      border-bottom: 2px solid $goldlight;
      @include abs(null, 0, 50px, null, 1);
      @include type(
        (
          size: 17px,
          height: 25px,
          family: $primaryfont,
          color: #fff,
          weight: 600,
        )
      );
    }
    @include mq(large_laptop) {
      padding-bottom: 10px;
      padding-right: 50px;
    }
    br {
      @include mq(large_laptop) {
        display: none;
      }
    }
  }
}

#sec-one-bottom {
  background: $blueone;
  margin-top: 34px;
  @include mq(small_tablet) {
    margin-top: 27px;
  }
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 50%;
    order: 1;
    margin-top: 0;
  }
  @include mq(small_monitor) {
    flex-basis: 699px;
  }
}

#sec-one-bottom-inner {
}

body.logged-in {
  #sec-one-sign-up {
    display: none;
  }
}

#sec-one-sign-up {
  @include mq(small_laptop) {
    margin-top: 199px;
  }
  span {
    display: block;
    text-align: center;
    &#sec-one-sign-up-title {
      @include type(
        (
          size: 42px,
          height: 48px,
          family: $secondaryfont,
          color: $goldlight,
          weight: 500,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        @include quick_type(65px, 75px, null);
      }
    }
    &#sec-one-sign-up-subtitle {
      margin-top: 5px;
      max-width: 370px;
      @include margin_lr();
      @include type(
        (
          size: 15px,
          height: 23px,
          family: $primaryfont,
          color: $greylight,
          weight: 600,
        )
      );
      @include mq(small_tablet) {
        max-width: 400px;
        @include quick_type(18px, 25px, null);
      }
    }
    &#sec-one-sign-up-description {
      padding: 0 35px;
      margin-top: 24px;
      max-width: 385px;
      @include margin_lr();
      @include type(
        (
          size: 15px,
          height: 22px,
          family: $primaryfont,
          color: $greylighttwo,
          weight: 600,
        )
      );
      @include mq(small_tablet) {
        max-width: 380px;
      }
      @include mq(small_laptop) {
        margin-top: 36px;
      }
      strong {
        font-weight: 600;
        color: $goldlight;
      }
    }
  }
  form#signup-form {
    margin-top: 25px;
    max-width: 491px;
    @include margin_lr();
    ::-webkit-input-placeholder {
      color: $grey;
    }
    ::-moz-placeholder {
      color: $grey;
    }
    :-moz-placeholder {
      color: $grey;
    }
    :-ms-input-placeholder {
      color: $grey;
    }
    ::-moz-placeholder {
      opacity: 1;
    }
    div.signup-form-input-wrapper {
      position: relative;
      &::after {
        @include type(
          (
            size: 16px,
            family: $primaryfont,
            color: $goldlight,
            weight: 600,
          )
        );
        @include abs(24px, 24px, null, null);
        @include contentdisplay(block, "*");
      }
      input {
        border: none;
        display: block;
        width: 100%;
        border-radius: 6px;
        background: #fff;
        padding: 19px 40px 19px 15px;
        @include type(
          (
            size: 16px,
            family: $primaryfont,
            color: $grey,
            weight: 600,
          )
        );
      }
    }
    span#sec-one-sign-up-required {
      display: block;
      margin-top: 15px;
      @include type(
        (
          size: 14px,
          family: $primaryfont,
          color: #fff,
          weight: 600,
        )
      );
      @include mq(small_laptop) {
        text-align: right;
      }
      > span {
        display: inline-block;
        color: $goldlight;
      }
    }
    #signup-form-submit-wrapper {
      background: $goldgradient;
      max-width: 228px;
      border-radius: 60px;
      margin-top: 13px;
      position: relative;
      cursor: pointer;
      @include mq(small_tablet) {
        margin-top: 25px;
        max-width: 188px;
      }
      @include mq(small_laptop) {
        margin-top: 16px;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
      &::after {
        border-radius: 60px;
        background: $golddark;
        opacity: 0;
        transition: all 200ms ease-in-out;
        @include box(100%, 100%);
        @include abs(0, null, null, 0);
        @include contentdisplay();
      }
      @include margin_lr();
      button {
        padding: 13px 25px;
        width: 100%;
        position: relative;
        z-index: 1;
        border: none;
        cursor: pointer;
        background: transparent;
        @include type(
          (
            size: 22px,
            height: 25px,
            family: $secondaryfont,
            color: #fff,
            weight: 500,
            align: center,
          )
        );
      }
    }
  }
}

body.logged-in {
  #sec-one-recent-episodes {
    display: block;
  }
}

#sec-one-recent-episodes {
  display: none;
  padding-top: 24px;
  max-width: 420px;
  @include margin_lr();
  @include mq(small_tablet) {
    max-width: 510px;
  }
  @include mq(small_laptop) {
    padding-top: 175px;
    max-width: 415px;
  }
  span {
    display: block;
    &#sec-one-recent-episodes-title {
      @include type(
        (
          size: 45px,
          height: 55px,
          family: $secondaryfont,
          color: $goldlight,
          weight: 500,
          align: center,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        text-align: left;
        @include quick_type(50px, 60px, null);
      }
    }
  }
}

#sec-one-recent-episodes-wrapper {
}

.sec-one-single-episode {
  a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #313958;
    padding: 15px 10px;
    @include flex(space-between, center);
    @include mq(small_tablet) {
      padding: 28px 10px 28px 0px;
    }
    @include mq(small_laptop) {
      padding: 16px 10px 16px 0px;
    }
    &:hover {
      span {
        color: $goldlight;
      }
    }
    span {
      transition: all 200ms ease-in-out;
      @include type(
        (
          size: 16px,
          height: 25px,
          family: $primaryfont,
          color: #fff,
          weight: 600,
        )
      );
    }
    img {
      margin-left: 40px;
      margin-right: 30px;
      @include image();
      @include mq(small_tablet) {
        margin-left: 6px;
        margin-right: 0px;
      }
    }
  }
  &:last-of-type {
    a {
      border: none;
    }
  }
}
